@media only screen and (max-width: 600px) {
  
  .jumbotron {
    font-size: 1rem;
  }
  .container2{
    flex-direction: column;
    width: 100%;
    max-width: 100vh;
   
  }
  .fix {
    margin: 0 auto;
    width: 100%;
  }
}